<h2>THE SEMITONE GAME </h2>
<p id="instructions" (click)="giveInstructions()">?</p>
<div class="game_window">

<div>
    <p><span class="note">{{(note1 | async)}}</span> 
        <span class="note">{{(note2 | async)}}</span></p>
        <button id = "generate_button" 
        mat-raised-button 
        (click)="generateNotes()">Generate Notes</button>
</div>
<div *ngIf="(note1 | async) != '?'">
    <mat-form-field id="input_field">
        <mat-label>Semitones</mat-label>
        <input matInput type="number"
        min="1"
        max="12"
        #inputValue
        autocomplete="off"/>
    </mat-form-field>

    <button mat-raised-button 
    (click)="checkAnswer(inputValue.value)"
    id="submit_button">Check</button>
</div>
<!-- <div *ngIf="message">
  <p id="message">{{message}}</p>  
</div> -->
</div>
