<h2>Instructions: </h2>
<div mat-dialog-content>
<p>First study the <a href="https://dp33wesms957s.cloudfront.net/images/modules/BCS5/BC-152-NoteCircle.gif" target="_blank">
   <b>Note Circle</b></a>.<br/>
A Semitone is a split-up between two notes i.e There's one Semitone between "A" and "A#"<br/>
<br/>
Now here's how you play the game:<br/><br/>
Generate two notes from the <b>Note Circle</b> by clicking on the button "Generate Notes". <br/>
You will then be presented with the input field to enter the number of Semitones that separate the generated notes, 
once entered, click on "Check" (this will also generate new notes) to see if you studied well or not.</p>
</div>
<div mat-dialog-actions>
<button mat-button mat-dialog-close>Close</button>
</div>